In [1]:
!unzip weatherAUS.zip

Archive:  weatherAUS.zip
   creating: weatherAUS/
  inflating: weatherAUS/Townsville.csv
  inflating: weatherAUS/PerthAirport.csv
  inflating: weatherAUS/MountGinini.csv
  inflating: weatherAUS/WaggaWagga.csv
  inflating: weatherAUS/Williamtown.csv
  inflating: weatherAUS/Katherine.csv
  inflating: weatherAUS/Bendigo.csv
  inflating: weatherAUS/Uluru.csv
  inflating: weatherAUS/PearceRAAF.csv
  inflating: weatherAUS/NorahHead.csv
  inflating: weatherAUS/Dartmoor.csv
  inflating: weatherAUS/Walpole.csv
  inflating: weatherAUS/Newcastle.csv
  inflating: weatherAUS/Nuriootpa.csv
  inflating: weatherAUS/Woomera.csv
  inflating: weatherAUS/Melbourne.csv
  inflating: weatherAUS/BadgerysCreek.csv
  inflating: weatherAUS/Cairns.csv
  inflating: weatherAUS/Tuggeranong.csv
  inflating: weatherAUS/SalmonGums.csv
  inflating: weatherAUS/Perth.csv
  inflating: weatherAUS/Darwin.csv
  inflating: weatherAUS/Moree.csv
  inflating: weatherAUS/Richmond.csv
  inflating: weatherAUS/Launceston.csv
  inflating: weatherAUS/Canberra.csv
  inflating: weatherAUS/MelbourneAirport.csv
  inflating: weatherAUS/SydneyAirport.csv
  inflating: weatherAUS/CoffsHarbour.csv
  inflating: weatherAUS/NorfolkIsland.csv
  inflating: weatherAUS/Brisbane.csv
  inflating: weatherAUS/AliceSprings.csv
  inflating: weatherAUS/Witchcliffe.csv
  inflating: weatherAUS/GoldCoast.csv
  inflating: weatherAUS/Cobar.csv
  inflating: weatherAUS/Portland.csv
  inflating: weatherAUS/Watsonia.csv
  inflating: weatherAUS/Ballarat.csv
  inflating: weatherAUS/Albany.csv
  inflating: weatherAUS/Sale.csv
  inflating: weatherAUS/MountGambier.csv
  inflating: weatherAUS/Sydney.csv
  inflating: weatherAUS/Mildura.csv
  inflating: weatherAUS/Adelaide.csv
  inflating: weatherAUS/Wollongong.csv
  inflating: weatherAUS/Penrith.csv
  inflating: weatherAUS/Nhil.csv
  inflating: weatherAUS/Hobart.csv
  inflating: weatherAUS/Albury.csv

In [2]:
import pandas as pd
import os

def standardize_column_names(df):
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '')
    df.columns = df.columns.str.replace('_', '')
    df.columns = df.columns.str.replace('.', '')
    return df

def merge_excel_files(directory):
    merged_df = pd.DataFrame()

    for filename in os.listdir(directory):
        if filename.endswith(".csv"):
            df = pd.read_csv(os.path.join(directory, filename))

            df = standardize_column_names(df)

            merged_df = pd.concat([merged_df, df], ignore_index=True)

    return merged_df

merged_df = merge_excel_files('weatherAUS/')
merged_df.to_excel("combined_data.xlsx",index=False)

In [3]:
merged_df.head(5)

,maxtempf,date,raintoday,raintomorrow,temp3pmf,windspeed9am,sunshine,cloud9am,mintempf,pressure3pm,...,evaporation,cloud3pm,humidity3pm,windspeed3pm,temp3pmc,maxtempc,temp9amc,windgustspeed,mintempc,windgustdir
0,65.30,2008-12-01,No,No,64.22,4.0,8.9,7.0,55.94,1015.2,...,3.8,5.0,63.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
1,69.80,2008-12-02,No,No,66.38,6.0,9.1,2.0,58.46,1009.3,...,5.4,6.0,71.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
2,75.20,2008-12-03,No,Yes,69.80,19.0,10.0,7.0,61.70,998.7,...,4.8,7.0,73.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
3,69.08,2008-12-04,Yes,No,64.40,13.0,7.2,5.0,57.38,1008.5,...,7.0,7.0,81.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
4,64.04,2008-12-05,No,No,62.60,13.0,4.9,3.0,55.40,1016.3,...,3.6,5.0,63.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(merged_df.dtypes)

maxtempf         float64
date              object
raintoday         object
raintomorrow      object
temp3pmf         float64
windspeed9am     float64
sunshine         float64
cloud9am         float64
mintempf         float64
pressure3pm      float64
winddir3pm        object
location          object
humidity9am      float64
rainfall         float64
pressure9am      float64
winddir9am        object
temp9amf         float64
evaporation      float64
cloud3pm         float64
humidity3pm      float64
windspeed3pm     float64
temp3pmc         float64
maxtempc         float64
temp9amc         float64
windgustspeed    float64
mintempc         float64
windgustdir       object
dtype: object

In [5]:
import pandas as pd


temp_columns = [col for col in merged_df.columns if 'temp' in col]

for col in temp_columns:
    merged_df[col] = merged_df[col].fillna(-99).astype(int)
print(merged_df.dtypes)

maxtempf           int64
date              object
raintoday         object
raintomorrow      object
temp3pmf           int64
windspeed9am     float64
sunshine         float64
cloud9am         float64
mintempf           int64
pressure3pm      float64
winddir3pm        object
location          object
humidity9am      float64
rainfall         float64
pressure9am      float64
winddir9am        object
temp9amf           int64
evaporation      float64
cloud3pm         float64
humidity3pm      float64
windspeed3pm     float64
temp3pmc           int64
maxtempc           int64
temp9amc           int64
windgustspeed    float64
mintempc           int64
windgustdir       object
dtype: object

In [6]:
merged_df.head(5)

,maxtempf,date,raintoday,raintomorrow,temp3pmf,windspeed9am,sunshine,cloud9am,mintempf,pressure3pm,...,evaporation,cloud3pm,humidity3pm,windspeed3pm,temp3pmc,maxtempc,temp9amc,windgustspeed,mintempc,windgustdir
0,65,2008-12-01,No,No,64,4.0,8.9,7.0,55,1015.2,...,3.8,5.0,63.0,17.0,-99,-99,-99,NaN,-99,NaN
1,69,2008-12-02,No,No,66,6.0,9.1,2.0,58,1009.3,...,5.4,6.0,71.0,17.0,-99,-99,-99,NaN,-99,NaN
2,75,2008-12-03,No,Yes,69,19.0,10.0,7.0,61,998.7,...,4.8,7.0,73.0,24.0,-99,-99,-99,NaN,-99,NaN
3,69,2008-12-04,Yes,No,64,13.0,7.2,5.0,57,1008.5,...,7.0,7.0,81.0,41.0,-99,-99,-99,NaN,-99,NaN
4,64,2008-12-05,No,No,62,13.0,4.9,3.0,55,1016.3,...,3.6,5.0,63.0,19.0,-99,-99,-99,NaN,-99,NaN

In [7]:
import sys

size_in_bytes = sys.getsizeof(merged_df)
size_in_kb = size_in_bytes / 1024
size_in_mb = size_in_kb / 1024

print(f"Size of df in Bytes: {size_in_bytes}")
print(f"Size of df in KB: {size_in_kb}")
print(f"Size of df in MB: {size_in_mb}")

Size of df in Bytes: 84778309
Size of df in KB: 82791.3173828125
Size of df in MB: 80.85089588165283

In [8]:
print(merged_df.dtypes)

maxtempf           int64
date              object
raintoday         object
raintomorrow      object
temp3pmf           int64
windspeed9am     float64
sunshine         float64
cloud9am         float64
mintempf           int64
pressure3pm      float64
winddir3pm        object
location          object
humidity9am      float64
rainfall         float64
pressure9am      float64
winddir9am        object
temp9amf           int64
evaporation      float64
cloud3pm         float64
humidity3pm      float64
windspeed3pm     float64
temp3pmc           int64
maxtempc           int64
temp9amc           int64
windgustspeed    float64
mintempc           int64
windgustdir       object
dtype: object

In [9]:
merged_df['windgustdir'].fillna('Unknown', inplace=True)
merged_df['raintomorrow'].fillna('Unknown', inplace=True)
merged_df['date'].fillna('Unknown', inplace=True)
merged_df['location'].fillna('Unknown', inplace=True)
merged_df['winddir3pm'].fillna('Unknown', inplace=True)
merged_df['raintoday'].fillna('Unknown', inplace=True)
merged_df['winddir9am'].fillna('Unknown',inplace=True)


merged_df['windgustdir'] = merged_df['windgustdir'].astype('category')
merged_df['raintomorrow'] = merged_df['raintomorrow'].astype('category')
merged_df['date'] = merged_df['date'].astype('category')
merged_df['location'] = merged_df['location'].astype('category')
merged_df['winddir3pm'] = merged_df['winddir3pm'].astype('category')
merged_df['raintoday'] = merged_df['raintoday'].astype('category')
merged_df['winddir9am'] = merged_df['winddir9am'].astype('category')

In [10]:
print(merged_df.dtypes)

maxtempf            int64
date             category
raintoday        category
raintomorrow     category
temp3pmf            int64
windspeed9am      float64
sunshine          float64
cloud9am          float64
mintempf            int64
pressure3pm       float64
winddir3pm       category
location         category
humidity9am       float64
rainfall          float64
pressure9am       float64
winddir9am       category
temp9amf            int64
evaporation       float64
cloud3pm          float64
humidity3pm       float64
windspeed3pm      float64
temp3pmc            int64
maxtempc            int64
temp9amc            int64
windgustspeed     float64
mintempc            int64
windgustdir      category
dtype: object

In [11]:
import sys

size_in_bytes = sys.getsizeof(merged_df)
size_in_kb = size_in_bytes / 1024
size_in_mb = size_in_kb / 1024

print(f"Size of df in Bytes: {size_in_bytes}")
print(f"Size of df in KB: {size_in_kb}")
print(f"Size of df in MB: {size_in_mb}")

Size of df in Bytes: 24809347
Size of df in KB: 24227.8779296875
Size of df in MB: 23.66003704071045

In [12]:
import numpy as np

def count_missing_values(column):
    if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
        return sum(column == -99 ) + column.isnull().sum()
    else:
        return sum(column == 'Unknown') + column.isnull().sum()

missing_values_count = merged_df.apply(count_missing_values)
print(missing_values_count)

<ipython-input-12-0c4daf7e9541>:4: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:

maxtempf         59527
date                 0
raintoday         3261
raintomorrow      3267
temp3pmf         61183
windspeed9am      1767
sunshine         69835
cloud9am         55888
mintempf         59713
pressure3pm      15028
winddir3pm        4228
location             0
humidity9am       2654
rainfall          3261
pressure9am      15065
winddir9am       10566
temp9amf         59976
evaporation      62790
cloud3pm         59358
humidity3pm       4507
windspeed3pm      3062
temp3pmc         87886
maxtempc         87194
temp9amc         87251
windgustspeed    10263
mintempc         87232
windgustdir      10326
dtype: int64

In [13]:
print(len(merged_df))

145460

In [14]:
def count_missing_values(row):
    if row.dtype == np.number or row.dtype == np.int64 or row.dtype == np.float64:
        return sum(row == -99) + row.isnull().sum()
    else:
        return sum(row == 'Unknown') + row.isnull().sum()

missing_values_count_row = merged_df.apply(count_missing_values, axis=1)

filled_df = merged_df[missing_values_count_row <= 10]

<ipython-input-14-8ba0236c03b1>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if row.dtype == np.number or row.dtype == np.int64 or row.dtype == np.float64:

In [15]:
print(len(filled_df))

143776

In [16]:
def fahrenheit_to_celsius(value):
    if value != -99:
        return (value - 32) * 5.0/9.0
    else:
        return value

temp_columns = filled_df.filter(regex='temp.*f$').columns

for column in temp_columns:
    filled_df[column] = filled_df[column].apply(fahrenheit_to_celsius)

<ipython-input-16-4f0a866c6687>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filled_df[column] = filled_df[column].apply(fahrenheit_to_celsius)
<ipython-input-16-4f0a866c6687>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filled_df[column] = filled_df[column].apply(fahrenheit_to_celsius)
<ipython-input-16-4f0a866c6687>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filled_df[column] = filled_df[column].apply(fahrenheit_to_celsius)
<ipython-input-16-4f0a866c6687>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filled_df[column] = filled_df[column].apply(fahrenheit_to_celsius)

In [17]:
def find_outliers(column):
    if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
        column = column.replace(-99, np.nan)

        Q1 = column.quantile(0.25)
        Q3 = column.quantile(0.75)
        IQR = Q3 - Q1

        outliers = (column < (Q1 - 1.5 * IQR)) | (column > (Q3 + 1.5 * IQR))

        return outliers
    else:
        column = column.replace('Unknown', np.nan)

        return pd.Series([np.nan]*len(column), index=column.index)

outliers = filled_df.apply(find_outliers)

<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:
<ipython-input-17-99c167e00372>:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if column.dtype == np.number or column.dtype == np.int64 or column.dtype == np.float64:

In [18]:
outlier_rows = outliers.any(axis=1)

outlier_df = filled_df[outlier_rows]

outlier_df = outlier_df.dropna()

print(outlier_df.head(10))

      maxtempf        date raintoday raintomorrow  temp3pmf  windspeed9am  \
6082     -99.0  2009-01-03       Yes           No     -99.0          20.0
6088     -99.0  2009-01-09       Yes          Yes     -99.0          26.0
6089     -99.0  2009-01-10       Yes           No     -99.0          20.0
6094     -99.0  2009-01-15        No           No     -99.0          31.0
6096     -99.0  2009-01-17       Yes          Yes     -99.0          19.0
6097     -99.0  2009-01-18       Yes           No     -99.0          17.0
6105     -99.0  2009-01-26       Yes          Yes     -99.0          20.0
6106     -99.0  2009-01-27       Yes          Yes     -99.0          13.0
6112     -99.0  2009-02-02       Yes           No     -99.0          11.0
6122     -99.0  2009-02-12       Yes          Yes     -99.0          28.0

      sunshine  cloud9am  mintempf  pressure3pm  ... evaporation cloud3pm  \
6082       0.2       8.0     -99.0       1018.8  ...         3.4      7.0
6088       0.2       8.0     -99.0       1015.9  ...         4.2      8.0
6089      12.0       2.0     -99.0       1013.5  ...         2.6      2.0
6094      13.2       0.0     -99.0       1010.4  ...         7.6      1.0
6096       0.3       8.0     -99.0       1017.8  ...         4.8      8.0
6097       2.8       6.0     -99.0       1020.1  ...         1.6      7.0
6105       8.0       7.0     -99.0       1017.0  ...         9.2      3.0
6106      10.6       6.0     -99.0       1017.8  ...         4.6      3.0
6112       9.0       7.0     -99.0       1012.7  ...         6.8      6.0
6122       9.3       3.0     -99.0       1014.5  ...         6.2      6.0

      humidity3pm  windspeed3pm  temp3pmc maxtempc  temp9amc  windgustspeed  \
6082         59.0          19.0        23       24        21           35.0
6088         73.0          28.0        21       21        20           56.0
6089         47.0          15.0        23       24        21           30.0
6094         57.0          46.0        27       32        25           61.0
6096         84.0          30.0        19       21        19           50.0
6097         57.0           9.0        21       23        20           28.0
6105         76.0          15.0        26       27        23           31.0
6106         72.0          15.0        26       27        23           30.0
6112         62.0          15.0        26       28        24           26.0
6122         74.0          31.0        23      -99        22           48.0

      mintempc  windgustdir
6082        20           SE
6088        19            S
6089        16           SW
6094        19          NNE
6096        19            S
6097        14           SW
6105        20          SSE
6106        20            S
6112        21           SE
6122        19            S

[10 rows x 27 columns]

In [19]:
filled_df.head(10)

,maxtempf,date,raintoday,raintomorrow,temp3pmf,windspeed9am,sunshine,cloud9am,mintempf,pressure3pm,...,evaporation,cloud3pm,humidity3pm,windspeed3pm,temp3pmc,maxtempc,temp9amc,windgustspeed,mintempc,windgustdir
0,18.333333,2008-12-01,No,No,17.777778,4.0,8.9,7.0,12.777778,1015.2,...,3.8,5.0,63.0,17.0,-99,-99,-99,NaN,-99,Unknown
1,20.555556,2008-12-02,No,No,18.888889,6.0,9.1,2.0,14.444444,1009.3,...,5.4,6.0,71.0,17.0,-99,-99,-99,NaN,-99,Unknown
2,23.888889,2008-12-03,No,Yes,20.555556,19.0,10.0,7.0,16.111111,998.7,...,4.8,7.0,73.0,24.0,-99,-99,-99,NaN,-99,Unknown
3,20.555556,2008-12-04,Yes,No,17.777778,13.0,7.2,5.0,13.888889,1008.5,...,7.0,7.0,81.0,41.0,-99,-99,-99,NaN,-99,Unknown
4,17.777778,2008-12-05,No,No,16.666667,13.0,4.9,3.0,12.777778,1016.3,...,3.6,5.0,63.0,19.0,-99,-99,-99,NaN,-99,Unknown
5,18.333333,2008-12-06,No,No,17.222222,11.0,8.7,8.0,14.444444,1017.9,...,3.8,3.0,48.0,20.0,-99,-99,-99,NaN,-99,Unknown
6,20.000000,2008-12-07,No,No,19.444444,7.0,12.8,2.0,13.888889,1007.9,...,6.0,2.0,72.0,31.0,-99,-99,-99,NaN,-99,Unknown
7,19.444444,2008-12-08,No,No,18.333333,20.0,8.4,5.0,16.111111,1008.0,...,7.0,3.0,55.0,31.0,-99,-99,-99,NaN,-99,Unknown
8,18.888889,2008-12-09,No,Yes,17.777778,6.0,7.4,2.0,10.555556,1010.3,...,4.4,6.0,66.0,13.0,-99,-99,-99,NaN,-99,Unknown
9,18.888889,2008-12-10,Yes,No,18.333333,6.0,4.7,8.0,13.333333,1013.0,...,4.4,6.0,69.0,20.0,-99,-99,-99,NaN,-99,Unknown

In [22]:
df = filled_df
df = df.replace(-99, np.nan)
df = df.replace('Unknown', np.nan)

In [23]:
df.head(10)

,maxtempf,date,raintoday,raintomorrow,temp3pmf,windspeed9am,sunshine,cloud9am,mintempf,pressure3pm,...,evaporation,cloud3pm,humidity3pm,windspeed3pm,temp3pmc,maxtempc,temp9amc,windgustspeed,mintempc,windgustdir
0,18.333333,2008-12-01,No,No,17.777778,4.0,8.9,7.0,12.777778,1015.2,...,3.8,5.0,63.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
1,20.555556,2008-12-02,No,No,18.888889,6.0,9.1,2.0,14.444444,1009.3,...,5.4,6.0,71.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
2,23.888889,2008-12-03,No,Yes,20.555556,19.0,10.0,7.0,16.111111,998.7,...,4.8,7.0,73.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
3,20.555556,2008-12-04,Yes,No,17.777778,13.0,7.2,5.0,13.888889,1008.5,...,7.0,7.0,81.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
4,17.777778,2008-12-05,No,No,16.666667,13.0,4.9,3.0,12.777778,1016.3,...,3.6,5.0,63.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
5,18.333333,2008-12-06,No,No,17.222222,11.0,8.7,8.0,14.444444,1017.9,...,3.8,3.0,48.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
6,20.000000,2008-12-07,No,No,19.444444,7.0,12.8,2.0,13.888889,1007.9,...,6.0,2.0,72.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
7,19.444444,2008-12-08,No,No,18.333333,20.0,8.4,5.0,16.111111,1008.0,...,7.0,3.0,55.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
8,18.888889,2008-12-09,No,Yes,17.777778,6.0,7.4,2.0,10.555556,1010.3,...,4.4,6.0,66.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
9,18.888889,2008-12-10,Yes,No,18.333333,6.0,4.7,8.0,13.333333,1013.0,...,4.4,6.0,69.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df["rainfall"].mean()

2.3562617405419966

In [29]:

df_copy = df.copy()
df_copy['date'] = pd.to_datetime(df_copy['date'])

watsonia_2015 = df_copy[(df_copy['location'] == 'Watsonia') & (df_copy['date'].dt.year == 2015)]

rainy_days_watsonia_2015 = watsonia_2015[watsonia_2015['raintoday'] == 'Yes'].shape[0]

print(f"Number of rainy days in Watsonia in 2015: {rainy_days_watsonia_2015}")

Number of rainy days in Watsonia in 2015: 78

In [30]:
townsville_df = df[df['location'] == 'Townsville']

townsville_df['max_daily_humidity'] = townsville_df[['humidity9am', 'humidity3pm']].max(axis=1)

max_humidity = townsville_df['max_daily_humidity'].max()
max_humidity_dates = townsville_df[townsville_df['max_daily_humidity'] == max_humidity]['date']

print(f"Maximum daily humidity in Townsville: {max_humidity}%")
print("Date(s) with this humidity level:")
print(max_humidity_dates.to_string(index=False))

Maximum daily humidity in Townsville: 100.0%
Date(s) with this humidity level:
2014-04-13
Categories (3436, object): ['2007-11-01', '2007-11-02', '2007-11-03', '2007-11-04', ..., '2017-06-22',
                            '2017-06-23', '2017-06-24', '2017-06-25']

<ipython-input-30-e04b79bfaa4d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townsville_df['max_daily_humidity'] = townsville_df[['humidity9am', 'humidity3pm']].max(axis=1)

In [32]:
import pandas as pd

df['date'] = pd.to_datetime(df['date'])

january_df = df[df['date'].dt.month == 1]

january_df['daily_max_diff'] = january_df[['maxtempc', 'maxtempf']].max(axis=1) - january_df[['mintempc', 'mintempf']].min(axis=1)

max_temp_diff_january = january_df['daily_max_diff'].max()

print(f"The maximum temperature difference in January (across all years) is: {max_temp_diff_january}°C")

The maximum temperature difference in January (across all years) is: 30.0°C

<ipython-input-32-aae80d2d343d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  january_df['daily_max_diff'] = january_df[['maxtempc', 'maxtempf']].max(axis=1) - january_df[['mintempc', 'mintempf']].min(axis=1)

In [35]:
import pandas as pd

mount_ginini_first_quarter = df[(df['location'] == 'MountGinini') & (df['date'].dt.month.isin([1, 2, 3]))]

mount_ginini_first_quarter['daily_min_temp'] = mount_ginini_first_quarter[['mintempc', 'mintempf']].min(axis=1)

coldest_5_days = mount_ginini_first_quarter.sort_values(by='daily_min_temp').head(5)

coldest_5_days = coldest_5_days[['date', 'daily_min_temp']]

print("The coldest 5 days in Mount Ginini during the first three months of the year:")
print(coldest_5_days.to_string(index=False))

The coldest 5 days in Mount Ginini during the first three months of the year:
      date  daily_min_temp
2012-01-12       -1.666667
2017-02-20       -1.666667
2017-03-31       -1.111111
2012-03-24       -1.111111
2015-03-27       -1.111111

<ipython-input-35-d16d7ce6b03f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mount_ginini_first_quarter['daily_min_temp'] = mount_ginini_first_quarter[['mintempc', 'mintempf']].min(axis=1)

In [37]:

def calculate_average_rainfall(dataframe):
    return dataframe['rainfall'].mean()

def calculate_rainy_days_watsonia_2015(dataframe):
    filtered = dataframe[(dataframe['location'] == 'Watsonia') & (dataframe['date'].dt.year == 2015)]
    return filtered[filtered['raintoday'] == 'Yes'].shape[0]

def calculate_highest_humidity_townsville(dataframe):
    filtered = dataframe[dataframe['location'] == 'Townsville']
    filtered['max_daily_humidity'] = filtered[['humidity3pm', 'humidity9am']].max(axis=1)
    return filtered['max_daily_humidity'].max()


def calculate_max_temp_diff_january(dataframe):
    january_df = dataframe[dataframe['date'].dt.month == 1]
    january_df['temp_diff'] = january_df[['maxtempc', 'maxtempf']].max(axis=1) - january_df[['mintempc', 'mintempf']].min(axis=1)
    return january_df['temp_diff'].max()

def calculate_coldest_days_mount_ginini(dataframe):
    filtered = dataframe[(dataframe['location'] == 'MountGinini') & (dataframe['date'].dt.month <= 3)]
    filtered['min_temp'] = filtered[['mintempc', 'mintempf']].min(axis=1)
    return filtered.sort_values(by='min_temp').head(5)[['date', 'min_temp']]